body {
  background-color: white;
  font-family: 'Georgia', 'Times New Roman', serif;
  padding: 3em;
}

h1 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
}

h1 a {
  color: mediumblue;
}

h1 a:hover {
  font-weight: bold;
}

h1, footer {
  background-color: cornflowerblue;
  padding: 1em;
  letter-spacing: .05em;

}

main {
  background-color: white;

}

footer {
  font-size: .8em;
  text-align: center;
}



nav {
  padding: 1em; 
  background: #ffffff;
}

img {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

ab {
  font-size:1.5em;
  text-align:center;
}


#about main {
  text-align: center;
}
